@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.2s;

  }
html {
    font-size: 62.5%;
}
ul{
    list-style-type: none;
}
nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 0.1rem solid rgb(203, 193, 193);
    /* width: 100%; */
    background-color: white;
}


option{
    cursor: pointer;
    border: 2rem solid white;
    font-size: large;

}
.Header_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.4rem;
    cursor: pointer;
}
.logo{
    margin-right: 5rem;
    cursor: pointer;
}
.header_right{
    text-align: center;
    margin-left: 8rem;
    display: flex;

}
nav li {
    position: relative;
    color: rgb(68, 63, 63);
}

li::after {
    content: '';
    position: absolute;
    bottom: -29px; /* Adjust this value to move the border lower */
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: #138568;
    transition: width 0.2s ease-in-out;
}

li:hover::after {
    width: 100%; /* Expand width to 100% on hover */
}
select{
    border: none;
    color: rgb(81, 76, 76);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
}
.h4{
    color: #497b62; 
    margin-left: 2rem; 
    border: 0.2rem solid #559383;
     padding: 1rem;
     margin-bottom: 2rem;
     margin-top: 1.2rem;
}
.top{
    /* height: max-content; */
    /* width: 100%; */
   
}
.top {
    padding: 2rem;
    display: flex;
    align-items: center; /* Vertically center */
    flex-direction: column;
    margin-bottom: 15rem;
}
.top_imgs{
    display: flex;
    flex-direction: row;
    margin-top: 6rem;

}
.img1, .img3{
    object-fit: cover;
    width: 28.2rem;
    height: 37rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    border-radius: 1rem;

}
.img2, .img4{
    object-fit: cover;
    width: 28.2rem;
    height: 42rem;
    margin-right: 2.5rem;
    border-radius: 1rem;
}
.top h1 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem; /* Adjust font size as needed */
    margin-top: 3rem; /* Remove default margin */
    color:#02bf9b;
    
}
.top h2{
    font-size: 3rem;
    color: gray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.top h3{
    font-size: 2rem;
    background-color: #02bf9b;
    color: white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-top: 1rem;
}
.top h3:hover{
    background-color: #074035;
    cursor: pointer;
}

.top_2{
    flex-wrap: wrap;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
    margin: 2rem auto;
    padding: 2rem;
    font-size: 1.7rem;
    box-shadow: 0px 4px 12px 0px #00000070;; /* Add shadow */
}
.top_2 .head{
    font-size: 2rem;
    color:#4B4F58;
    font-weight: 700;
}
.reserve1-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.reserve1:hover{
    background-color: #074035;
    cursor: pointer;
}
.reserve1 {
    font-size: 1.7rem;
    padding: 1rem 3rem; /* Combined padding shorthand */
    margin: auto;
    background-color: rgb(10, 160, 118);
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
    margin-right: 2rem;
}
.top_h1{
    text-align: center;
    color:white;
    padding: 1rem;
}
.top_main{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    width:90%;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex:7;
}
.detail{
    box-shadow: 0px 4px 12px 0px #00000070;;
    margin: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    padding: 3rem 2rem;
    font-size: 2rem;
}
.detail_head{
    color: #02bf9b;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
table {
    color:#51555D;
    border:none;
    border-collapse: collapse;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif; /* Change to a font similar to the image */
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Alternate row color styling */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray for even rows */
}

/* styling right */
.right{
    position: sticky;
    top:6rem;
    height: max-content;
    flex:3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;

}

@media screen and (max-width:1220px) {
    
   .top_2, .right{
      display: none;
    }
    .top h1{
        color: rgb(31, 125, 125);
        font-size: 3rem;
        
    }
    
    .top_imgs{
        display: none;
    }
    .top{
        /* background: none; */
        height: 20rem;
        font-size: 1rem;
        background:none;
    }
    .top_main{
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    .left{
        width:100%;
    }
    .detail{
        margin:auto;
        width:95%;
        margin-bottom: 2rem;
    }
    table{
        font-size: 1.4rem;
    }
}

/* Style the right buttons */
.btn-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.btn-container2{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:1rem;
    width:100%;
}
.send-application-btn,
.pay-now-btn {
  background-color: #00a384; /* Green color similar to image */
  color: white;
  padding: 15px 32px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 16px; /* Adjust font size as needed */
  margin: 4px 2px; /* Adjust margin as needed */
  cursor: pointer;
  border: none;
  border-radius: 5px; /* Add rounded corners */
}
.pay-now-btn{
    background-color: #6773f1 ;
}

/* Optional: Hover effect for buttons */
.send-application-btn:hover,
.pay-now-btn:hover {
  background-color: #074035; /* Slightly darker green on hover */
}

/* Style the course description section */
.course-index{
    margin-top: 2rem;
    padding-top: 2rem;
    width: 100%;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
}


.footer{
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer_up{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    background-color: #3a8f7f;
    gap: 10rem;
}
.foot2_data{
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif
}
.footer_low{
    border-top: 0.2rem solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(72, 173, 173);
    width:100%;
    padding: 2rem 2rem 3rem 2rem;
    color: white;
    font-size: 2rem;
    padding-top: 4rem;
}
.contact_logo{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;

}
.foot_logo{
    height: 3rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
}
.foot_btn{
    text-align: center;
    margin-top: 1rem;
    color: white;
    background-color: rgb(72, 173, 173);
    padding: 1rem;
    border-radius: 2rem;
}
a{
    color: white;
    text-decoration: none;
}

@media (max-width: 1290px) {
    .foot1{
        display: none;
    
    }
        .foot3{
            display: none;
        }
        .Header_btn{
            display: none;
        }
        .header_right{
            display: none;
        }
        .course{
            margin-left: 20rem;
        }
        .foot2{
            margin: 0;
        }
        .footer_low{
            flex-direction: column;
            margin: 0;
            padding: 0;
            height: 15rem;
        }
        .logo{
            /* margin: 0; */
            /* margin-left: 30rem; */
        }
        .footer_left{
            margin: 0;
            text-align: center;
            padding: 1rem;
        }
        .footer_right{
            margin: 0;
            padding: 1rem;
            font-size: 2rem;
            text-align: center;
    
        }
    
      
    }
    @media (max-width:1000px) {
        .foot2{
        }
        .logo{
            margin-left: 8rem;
        }
        li::after{
            bottom: -1rem;
        }
       
       
        .course{
            flex-direction: column;
        }
        .course_details{
            text-align: center;
        }
      
        .course{
            /* height: 44rem; */
            margin-left: 18rem;
            margin-right: 0.1rem;
            
        }
       .rate{
        margin-left: 12rem;
        margin-bottom: 0;
       }
       .price{
        display: flex;
        flex-direction: row;
       }
    span{
        font-size: 2rem;
    }
       }
       
    
       
    .togglex {
        display: none; 
    }
    
    @media (max-width: 768px) {
      
        .togglex {
            display: block; 
            background: none;
            border: none;
            margin-top: 3rem;
            max-width: max-content;
            margin-right: 4rem;
         
        }
        #toggleButton {
            display: block; 
            background: none;
            border: none;
         
        }
    
        .Header_btn {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 5rem; /* Adjust as needed */
            right: 0;
            background-color: white; /* Adjust background color as needed */
            padding: 1rem;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* Add box shadow for better visibility */
        }
    
        .show {
            display: flex;
        }
    }
