* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.2s;

  }
  
  html {
    font-size: 62.5%;
  }
  ul{
    list-style-type: none;
  }
  nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 0.1rem solid rgb(203, 193, 193);
    width: 100%;
    background-color: white;
}

option{
    cursor: pointer;
    border: 2rem solid white;
    font-size: large;

}
.Header_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.4rem;
    cursor: pointer;
}
.logo{
    margin-left: 15.9rem;
    margin-right: 5rem;
    cursor: pointer;
}
.header_right{
    text-align: center;
    margin-left: 8rem;
    display: flex;

}
li {
    position: relative;
    color: rgb(68, 63, 63);
}

li::after {
    content: '';
    position: absolute;
    bottom: -29px; /* Adjust this value to move the border lower */
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: #138568;
    transition: width 0.2s ease-in-out;
}

li:hover::after {
    width: 100%; /* Expand width to 100% on hover */
}
select{
    border: none;
    color: rgb(81, 76, 76);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
}
.h4{
    color: #497b62; 
    margin-left: 2rem; 
    border: 0.2rem solid #559383;
     padding: 1rem;
     margin-bottom: 2rem;
     margin-top: 1.2rem;
}
.footer_up{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20rem;
    background-color: #3a8f7f;
}
.foot2_data{
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif
}
.footer_low{
    border-top: 0.2rem solid white;
    display: flex;
    flex-direction: row;
    background-color: rgb(72, 173, 173);
    height: 9rem;
    color: white;
    font-size: 2rem;
    padding-top: 4rem;
}
.footer_left{
    margin-left: 19rem;
}
.footer_right{
    margin-left: 12rem;
    cursor: pointer;
}
.foot2{
    margin: 20rem;
}
.foot1{
    margin-left: 15rem;
}
.contact_logo{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;

}
.foot_logo{
    height: 3rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
}
.foot_btn{
    text-align: center;
    margin-top: 1rem;
    color: white;
    background-color: rgb(72, 173, 173);
    padding: 1rem;
    border-radius: 2rem;
}
a{
    text-decoration: none;
    color: white;
}

.main{
    margin-left: 20rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    position: relative;
   
}
input{
    border: none;
    border-bottom: 0.1rem solid gray;
    margin-top: 3rem;
    padding-bottom: 1rem;
}
textarea{
    border: none;
    border-bottom: 0.1rem solid gray;
}
.left{
    margin-top: 2rem;
    height: max-content;
    position: sticky;
    top: 10rem;
}
.course {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid rgb(202, 198, 198);
    margin-left: 2rem;
    /* padding: 2rem; */
    height: 20.1rem;
}

.course {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
}


.course_details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
    color: rgb(65, 64, 64);
    padding-right: 2rem;
}
.course_low{
    display: flex;
    flex-direction: row;
}
span{
    color: black;
    font-size: 4rem;
}
.rate{
margin-left: 24rem;
margin-bottom: 2.5rem;
}
.price{
    color: black;
    text-align: left;
    margin-left: 14rem;
}
@media (max-width: 1290px) {
.foot1{
    display: none;

}
    .foot3{
        display: none;
    }
    .Header_btn{
        display: none;
    }
    .header_right{
        display: none;
    }
    .foot2{
        margin: 0;
        margin-left: 40rem;
    }
    .footer_low{
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 15rem;
    }
    .logo{
        /* margin: 0; */
        margin-left: 30rem;
    }
    .footer_left{
        margin: 0;
        text-align: center;
        padding: 1rem;
    }
    .footer_right{
        margin: 0;
        padding: 1rem;
        font-size: 2rem;
        text-align: center;

    }
    .main{
        margin: 0.1rem;
    }
    .left{
        display: none;
    }
}
@media (max-width:768px) {
    .foot2{
        margin-left: 11rem;
    }
    .logo{
        margin-left: 10rem;
    }
   
   
    .course{
        flex-direction: column;
    }
    .course_details{
        text-align: center;
    }
    .yoga_img{
        margin-bottom: 2rem;
    }
    .course{
        height: 44rem;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        
    }
   .rate{
    margin-left: 12rem;
    margin-bottom: 0;
   }
   .price{
    display: flex;
    flex-direction: row;
   }
span{
    font-size: 2rem;
}
   }
