* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.2s;

  }
  a{
    text-decoration: none;
  }
  html {
    font-size: 62.5%;
  }
  ul{
    list-style-type: none;
  }
  nav {
    position: sticky;
    top: 0;
    z-index: 10; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 0.1rem solid rgb(203, 193, 193);
    width: 100vw;
    background-color: white;
}

option{
    cursor: pointer;
    border: 2rem solid white;
    font-size: large;

}
.Header_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.4rem;
    cursor: pointer;
}
.logo{
    margin-right: 5rem;
    cursor: pointer;
}
.header_right{
    text-align: center;
    margin-left: 8rem;
    display: flex;

}
li {
    position: relative;
    color: rgb(68, 63, 63);
}

li::after {
    content: '';
    position: absolute;
    bottom: -2.9rem; /* Adjust this value to move the border lower */
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: #138568;
    transition: width 0.2s ease-in-out;
}

li:hover::after {
    width: 100%; /* Expand width to 100% on hover */
}
select{
    border: none;
    color: rgb(81, 76, 76);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
}
.h4{
    color: #497b62; 
    margin-left: 2rem; 
    border: 0.2rem solid #559383;
     padding: 1rem;
     margin-bottom: 2rem;
     margin-top: 1.2rem;
}
.footer{
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer_up{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color: #3a8f7f;
    gap: 10rem;
}
.foot2_data{
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif
}
.footer_low{
    border-top: 0.2rem solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(72, 173, 173);
    width:100%;
    padding: 2rem 2rem 3rem 2rem;
    color: white;
    font-size: 2rem;
    padding-top: 4rem;
}
.contact_logo{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;

}
.foot_logo{
    height: 3rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
}
.foot_btn{
    text-align: center;
    margin-top: 1rem;
    color: white;
    background-color: rgb(72, 173, 173);
    padding: 1rem;
    border-radius: 2rem;
}
.foot_btn a{
    text-decoration: none;
    color: white;
}





@media (max-width: 1290px) {
    
.foot1{
    display: none;

}
    .foot3{
        display: none;
    }
    .Header_btn{
        display: none;
    }
    .header_right{
        display: none;
    }
  
    .foot2{
        margin: 0;
    }
    .footer_low{
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 15rem;
    }
    .logo{
        /* margin: 0; */
        /* margin-left: 30rem; */
    }
    .footer_left{
        margin: 0;
        text-align: center;
        padding: 1rem;
    }
    .footer_right{
        margin: 0;
        padding: 1rem;
        font-size: 2rem;
        text-align: center;

    }
}
.togglex {
    z-index: 999;
    display: none; 
    /* justify-content: center; */
    /* text-align: center; */
}

@media (max-width: 768px) {
    .togglex {
        display: block; 
        background: none;
        border: none;
        margin-top: 2rem;
        max-width: max-content;
        margin-left: 2rem;
     background-color: #ffffff;
    }
    .toggleButton{
        font-size: 3rem;
    }

    #toggleButton {
        display: block; 
        background: none;
        border: none;
     
    }
    .togglex h1{
        /* justify-content: center; */
        /* margin-left: 8rem; */
        width: 35rem;
        /* padding-right: 25rem; */
        margin-bottom: 1rem;
        color: rgb(61, 55, 55);
        font-weight: 400;
        }
    .logo{
        margin-left: 10rem;
        
    }

    .Header_btn {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem; /* Adjust as needed */
        right: 0;
        background-color: white; /* Adjust background color as needed */
        padding: 1rem;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* Add box shadow for better visibility */
    }

}
/* head */
.home_1 {
    background: url('images/yoga_home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh; /* Set the height of the section to cover the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    text-align: center; /* Center text inside */
}


.home_1 h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 8rem;
    line-height: 10rem;
    text-align: justify;
    margin-bottom: 1rem;
    /* word-spacing: normal; */
}
.home_1 h2{
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
    font-weight: 1000;
}
.home_1 button{
    box-sizing: border-box;
    color: #de4b0b;
    background-color: #ffffff;
    padding: 17px 1.0rem;
    font-weight: 600;
    border-radius: .6rem;
    position: relative;
    text-transform: capitalize;
    border: none;
    font-size: 1.6rem;
    margin-top: 5rem;
}
.home_1 button:hover{
    background-color: #de4b0b;
    color:#ffffff;
    cursor: pointer;
}
.home_card {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Horizontally center the content */
    margin: 0 auto; /* Center the section horizontally */
    max-width: 1200px; /* Adjust the maximum width of the section as needed */
    z-index: 1;
    margin-top: -145px; /* Adjust margin-top as needed */
    padding-bottom: 50px; /* Add padding-bottom as needed */
    
}

.card{
    height: 30.8rem;
    width: 33.45rem;
    border: 0.1rem solid orange;
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: white;
}
.card:hover{
    .card_data h2 {
        color: orange;
        font-size: 2rem;
    }
    pre{
        color: orange;
    }
    border: none;
    cursor: pointer;
    transition-duration: 2s;
}
.card_data{
    padding: 4rem;
}
pre{
    margin-left: 10rem;
    font-size: 5rem;
}

.card_top{
    display: flex;
    flex-direction: row;
}
.card_data h1{
    margin-top: 1rem;
    font-size: 2.8rem;
}
.card_data p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.home_top {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text inside */
    /* height: 100vh; Set height to full viewport height */
    margin-top: 7rem;
}


.home_top h2{
    margin-bottom: 2rem;
    color: #de4b0b;
    font-size: 2rem;
}
.home_top h1 {
    margin-bottom: 1.5rem; /* Reset default margin */
    font-size: 3.5rem;
    font-family:'Times New Roman', Times, serif;
    
}
.home_top img{
    /* margin-bottom: 2rem; */
}
.home_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4rem;
}
.big_img{
    padding-top: 2rem;
    max-width: 100%;
}
.home_main_right{
    margin-left: 10rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    color: rgb(57, 53, 53);
}
.data_images{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.data_images {
    display: flex;
    justify-content: space-around; /* Horizontally distribute items */
    margin-top: 2rem; /* Adjust margin as needed */
}

.yoga_style {
    text-align: center;
}

.yoga_style img {
    /* width: 100px; Adjust image width as needed */
    /* height: auto; Maintain aspect ratio */
}

.yoga_style h1 {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin-top: 1rem; /* Adjust margin as needed */
}

.yoga_style h2 {
    font-size: 1.2rem; /* Adjust font size as needed */
    margin-top: 0.5rem; /* Adjust margin as needed */
}
.main_bottom{
    display: flex;
    flex-direction: row;
}
.main_bottom{
    margin-top: 5rem;
}
.main_bottom button, .btn{
    box-sizing: border-box;
    color: #de4b0b;
    background-color: #ffffff;
    padding: 17px 1.0rem;
    font-weight: 600;
    border-radius: .6rem;
    position: relative;
    text-transform: capitalize;
    border: 0.1 rem;
    border-color: #de4b0b;
    font-size: 1.6rem;
    margin-right: 2rem;
}
.main_bottom button:hover,
.btn:hover{
    background-color: #de4b0b;
    color:#ffffff;
    cursor: pointer;
}
.whatsapp_{
    margin-left: 2rem;
}
.whatsapp_h1{
    margin-top: 1rem;
}

.i2{
    margin-right:2rem;
    padding-top:2rem;
    /* height: 20px; */
    font-size: 3rem;
    color: #de4b0b;
    border: 0.2rem solid #de4b0b;
    padding: 1.5rem;
    border-radius: 50%;
}
.home_2_images{
    display: flex;
    flex-direction: row;
}
.home_2_images img{
    width: 69.3rem;
    height: 43.3rem;
    margin: 2rem;
    border-radius: 0.8rem;
    max-width: 100%;

}
.home_3, .home_4, .home_5, .home_6,.home_7{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* Center items horizontally */
    text-align: center;
     /* Center text inside */
    margin: 4rem; /* Center the section horizontally */
    /* max-width: 800px; */
     /* Optionally set a maximum width for the section */
}
.home_8{
    margin: 8rem 8rem 2rem 8rem;
    justify-content: center;
}
.home_3 h1 {
    width: 100%; /* Make the width of the <h1> element 100% */
    margin: 0; /* Remove default margins */
    text-align: left; /* Align the text to the left */
}
.hover{
    display: none;
}
.table_data , .danger{
    border: solid #de4b0b;
    padding: 4rem 2rem;
    margin: 0;
    font-size: 2rem;
}
.danger{
    background-color: pink;
}
th{
    font-size: 2.5rem;
    color: white;
    border: 0;
    margin: 0;
}
.table_data:hover{
    background-color: #de4b0b;
    .current{
        display: none;
    }
    .hover{
        display: block;
    }
    
}
.table{
    margin-bottom: 2rem;
}
.yoga_types{
    display: flex;
    flex-direction: row;
}
.yoga_type{
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    line-height: 2.5rem;
}
.yoga_type:hover{
    background-color: #de4b0b;
    h2{
        color: white;
    }
}
.yoga_type h2{
    color: rgb(62, 59, 59);
}
.yog_images{
    display: flex;
    flex-direction: row;
}
.yog_images img{
    border-radius: 0.8rem;
    margin: 2rem;
    width: 45rem;
    height: 42rem;
}
.alliance{
    height: 11rem;
    width: 141rem;
    margin: 2rem;
}
.home_6 h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 510;
}
.home_6 h2{
    font-size: 2.5rem;
    font-weight: 100;
    text-align: left;
}
.yoga_teachers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.teacher{
    border: 0.1rem solid gray;
    text-align: center;
    margin: 2rem;
}

.teacher img{
    height: 26.5rem;
    width: 23rem;
}
.food_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.food_images img{
    width: 45rem;
    height: 25rem;
    margin: 2rem;
    border-radius: 0.8rem;

}
.accordion {
    /* border: solid 2px #f5f5f5; */
    transition: all 0.3s ease-in-out;
    & + & {
      margin-top: 0.25rem;
    }
    &:hover {
      background-color: #f5f5f5;
    }
  }
  .accordion__title {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 500;
    color: #000000;
    background-color: #f3f3f3;
    border: 0.1rem solid #de4b0b;
    text-align: left;
    margin-bottom: 2rem;

  }
  .accordion__content {
    padding: 0 1rem 1rem 1rem;
    p {
      margin: 0;
      font-size: 3rem;
      text-align: left;
      margin-bottom: 1rem;
    }
    p + p {
      margin-top: 0.5em;
    }
  }
  .accordion__title {
    list-style-type: none;
    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
  }

  .accordion__title {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.024 11.263l-7.024 7.023-7.022-7.023-3.091 3.090 8.569 8.569c0.413 0.413 0.961 0.64 1.545 0.64s1.133-0.228 1.545-0.64l8.569-8.569-3.091-3.090z' fill='%23555555'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem top 0.625rem;
    background-size: 1.5rem;
    padding: 0.875rem 2.5rem 0.875rem 4rem;
  }

  .accordion {
    &[open] {
        .accordion__title{
            background-color: #de4b0b;
            color: #fff;
        }
        
      background-color: #fff;
      border-color: #ebebeb;
      .accordion__title {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.976 22.025l7.024-7.023 7.022 7.023 3.091-3.090-8.568-8.568c-0.413-0.412-0.961-0.64-1.545-0.64s-1.133 0.228-1.545 0.64l-8.569 8.569 3.091 3.090z' fill='%23555555'/%3e%3c/svg%3e");
      }
    }
  }
.courses_home{
    display: flex;
    flex-direction: column;
    /* margin: 8rem; */
    justify-content: center;
    align-items: center;
}
.course_home{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}
.course_img{
    margin-right: 4rem;
}
.course_data h3{
    padding: 1rem 2rem 1rem 0.5rem;
    border: 0.1rem solid #de4b0b;
    border-radius: 4rem;
    max-width: max-content;
    margin-top: 2rem;
    font-weight: 300;
    font-size: 2rem;
}
.course_data h1{
    font-size: 4rem;
    color: #de4b0b;
}
.course_data h3:hover{
    color: white;
    background-color: #de4b0b;
}
.course_data h2{
    font-size: 2.5rem;
    font-weight: 400;
}
.course_data_low{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.course_data_low h1{
   font-size: 2rem;
   margin-bottom: 0.5rem;
   margin-top: 1rem;
   justify-content: center;
}
.shared_room{
    margin-right: 5rem;
}
.course_data_low button{
    margin-top: 2rem;
    padding: 1rem;
}
.shared_room h1{
    font-size: 2rem;
}
.course_data i{
    background-color: #de4b0b;
    color: white;
    border-radius: 4rem;
}
.course_img img{
    width: 45.3rem;
    height: 33.8rem;
    margin-left: 4rem;
}
.div_nav {
    position: sticky;
    top: 0; /* Add this line to specify where the element should stick */
    display: flex;
    flex-direction: row;
    background-color: white;
    z-index: 999;
}


@media (max-width:1470px) {
    .card4{
        display: none;
    }
    .card2{
        display: none;
    }
    .home_1 h1{
        font-size: 5rem;
        text-align: center;
    }
    .home_1 button{
        margin-top: 2rem;
        margin-bottom: 8rem;
    }
    .home_2_images{
        flex-direction: column;
    }
    .danger,.sunday{
        display: none;
    }
    .yog3{
        display: none;
    }
    .alliance{width: 40rem;
    }
    .img4, .img5{
        display: none;
    }
    .food_images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
}

@media (max-width:1060px) {
    .home_main{
        flex-direction: column;
        text-align: center;
    }
    .table_data , .danger{
        padding: 0;
          font-size: 1rem;
      }
      .yog_images{
        flex-direction: column;
      }
      .yog3{
        display: block;
    }

}
@media (max-width: 768px){
    .home_top{
        height: auto;
    }
    .whatsapp_h1{
        display: none;
    }
    .home_1 h1{
        font-size: 4rem;
        line-height: 8rem;
        text-align: center;
    }
    .home_1 h2{
        text-align: center;
    }
    .home_card{
        flex-direction: column;
        margin-top: -50px;
        align-items: center;
    }
    .card{
        margin: 2rem;
        
    }
    .home_1 button{
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    .home_main {
        flex-direction: column; /* Change flex-direction to column */
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text inside */
    }
    .home_main_right {
        margin-left: 0; /* Remove left margin */
    }

    .i2{
        border: none;
        font-size: 4rem;
    }
    .main_bottom{
        text-align: center;
        margin-left: 3rem;
    }
    .home_2_images img{
        margin: 2rem 0 2rem 0;
    }
    .home_3 button{
        font-size: 1.3rem;
    }
    .home_3{
        margin: 1rem;
    }
    .table_data , .danger{
      padding: 0;
        font-size: 0.86rem;
    }
    .danger,.sunday{
        display: none;
    }
    th{
        font-size: 1rem;
    }
    .yoga_types{
        flex-direction: column;
    }
    .alliance{
        width: 35rem;
        margin: 0;
    }
    .yog_images img{
        width: 35rem;
        /* margin: 4rem; */
    }
    .teacher{
        width: 35rem;
    }
    .yoga_teachers{
        flex-direction: column;
    }
    .teacher img{
        width: 100%;
    }
    .img4, .img5{
        display: block;
    }
    .food_images img{
        width: 35rem;
    }
     .accordion__title{
        font-size: 2rem;
    }
    .accordion__content p{
        font-size: 2rem;
    }
    .home_8{
        margin: 1rem;
    }
    .course_home{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-right: 5rem;
    }
    .courses_home h1{
        text-align: center;
    }
   
   .course_data h3{
    padding: 1rem;
    margin-left: 1rem;
    justify-content: center;
    
    font-size: 3rem;
    text-align: center;
    /* width: 100%; */
   }
    .courses_home {
        
        margin: 1rem;
        display: flex;
        /* justify-content: center; Align items horizontally to the center */
        /* align-items: center; Align items vertically to the center */
    }
    
    .courses_home button{
        display: none;
    }
    .course_home{
        justify-content: left;
    }
    .course_img{
        margin-left: 1rem;
    }
    .course_img img{
        width: 35rem;
    }
    .course_data_low{
        justify-content: center;
        margin-left: 2rem;
    }
    .course_data{
        margin-left: 4rem;
    }
    
    nav {
        width:0;
        margin: 0;
        align-items: center;
        justify-content: left;
    }
    
}
   
    
   
    @media (max-width: 768px) {
        .home_1 button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 2rem; /* Adjust as needed */
        }
        .card4, .card2{
            display: block;
        }
    }
    
